/*
 * Globals
 */
body, html {
	font-family: Helvetica;
	background-color: #4582347;
}
body {
	margin: 0;
}
.note .note-x .note-x-l{
	width: 3px;
	height: 23px;
	border-radius: 3px;
	background-color: #66E587;
	-webkit-transform: rotate(45deg);
	z-index: 1;
}
.note .note-x .note-x-r {
	width: 3px;
	height: 23px;
	border-radius: 3px;
	background-color: #66E587;
	-webkit-transform: rotate(90deg);
	z-index: 2;
}
.note .note-stem {
	margin-bottom: -4px;
	margin-left: 8px;
	height: 40px;
	width: 3px;
	border-radius: 3px;
	background-color: #66E587;
}


/*
 * Navbar
 */
#navbar {
	width: 100%;
	height: 40px;
	vertical-align: center;
	border-bottom: 1px solid #444;
	background-color: #191919;
	color: #eee;
}


/*
 * Left section
 */
#left {
	float: left;
	width: calc(100% * (1/7));
	border-right: 1px solid #1d1d1d;
}
#left > section > div.content {
	padding: 10px;
}


/*
 * Right section
 */
#right {
	float: right;
	width: calc((100% * (6/7)) - 1px);
	background-color: #1e1e1e;
	color: #eee;
}
#right > section:nth-child(-n+1) {
	border-bottom: 1px solid #333;
}
#right > section > h1 {
	margin: 0;
	padding: 20px 0 0 20px;
}
#right > section > div.content {
	padding: 20px;
}


/*
 * Steps
 */
#steps {
	background-color: #222;
	overflow-y: auto;
}
#steps::-webkit-scrollbar {
	width: 10px;
	background-color: #383838;
}
#steps::-webkit-scrollbar-thumb{
	background-color: #1C1C1C;
	border-radius: 0;
}
#steps #step-list {
	padding: 0;
	list-style: none;
}
#steps #step-list > li {
	width: calc(100% * (4/6));
	margin: 20px auto;
	border: 1px solid #eee;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}
#steps #step-list > li.active {
	background-color: #03233D;
}
#steps #step-list > li > h2 {
	margin-right: auto;
	margin-left: auto;
	color: #eee;
}


/*
 * Controls
 */
#controls {
	background-color: #222;
}
#controls h4 {
	margin: 40px 0 5px 0;
	color: #eee;
	font-size: 14px;
}
#controls #beat-options div.opts:first-child {
	margin-bottom: 5px;
}
#controls #beat-options div.opts:first-child h4 {
	margin-top: 5px;
}
#controls #beat-options div.opts ul {
	margin: 0;
	padding: 0;
}
#controls #beat-options div.opts li {
	float: left;
	list-style-type: none;
}
#controls #beat-options div.opts li button {
	margin: 0;
	padding: 5px 10px;
	border: 1px solid #666;
	border-radius: 4px;
	outline: none;
	background-color: #1d1d1d;
	color: #eee;
	font-size: 12px;
	cursor: pointer;
}
#controls #beat-options div.opts li button:hover {
	background-color: #444;
}
#controls #beat-options div.opts li button.active {
	background-color: #03233D;
}
#controls #beat-options div.opts li:first-child button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#controls #beat-options div.opts li:not(:first-child):not(:last-child) button {
	border-radius: 0;
}
#controls #beat-options div.opts li:last-child button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#controls #opts-feedback {
	display: none;
}
#controls #opts-feedback h2:first-child {
	margin-top: 10px;
	margin-bottom: 0;
}
#controls #opts-feedback h2:nth-child(2) {
	margin: 5px 0;
}
#controls #opts-feedback h2:last-child {
	margin-top: 0;
}
#controls #tempo-opt input {
	width: 80px;
	padding: 5px 10px;
	border: 1px solid #666;
	border-radius: 4px;
	outline: none;
	background-color: #1c1c1c;
	font-size: 12px;
	color: #eee;
}
#controls #go {
	margin-top: 10px;
}
#controls #go i {
	font-size: 50px;
	color: #eee;
	cursor: pointer;
}
#controls #go #stepback {
	margin-right: 12px;
}


/*
 * Rhythms
 */
#rhythms div.content #note-stream {
	margin-top: 30px;
	margin-left: 20px;
	height: 140px;
	border-left: 2px solid #191919;
}
#rhythms div.content #note-stream .note {
	position: absolute;
	display: none;
	right: 7px;
	margin-top: 40px;
}


/*
 * Metronome
 */
#metronome div.content #scene {
	margin-left: 20px;
}
#metronome div.content #scene #giraffe {
	position: absolute;
	margin-top: 30px;
}
#metronome div.content #scene #tree {
	position: absolute;
	right: 20px;
	opacity: 0.8;
}
#metronome div.content #scene #landscape {
	position: absolute;
	opacity: 0.2;
	max-width: 100%;
}

