/*
 * Globals
 */
body, html {
	font-family: Helvetica;
	background-color: #222;
}
body {
	margin: 0;
}


/*
 * Navbar
 */
#navbar {
	width: 100%;
	height: 40px;
	vertical-align: center;
	background-color: #111;
	color: #eee;
}


/*
 * Steps
 */
#steps {
	float: left;
	width: calc(100% / 6);
	border-right: 1px solid #111;
	background-color: #222;
	overflow-y: auto;
}
#steps::-webkit-scrollbar {
	width: 10px;
	background-color: #383838;
}
#steps::-webkit-scrollbar-thumb{
background-color: #1C1C1C;
border-radius: 10px;
}
#steps i.help {
	float: left;
	padding: 10px 0 0 10px;
	font-size: 20px;
	color: #eee;
	opacity: 0.6;
	cursor: pointer;
}
#steps #step-list {
	padding: 0;
	list-style: none;
}
#steps #step-list > li {
	width: calc(100% * (5/6));
	margin: 20px auto;
	border: 1px solid #eee;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}
#steps #step-list > li.active {
	background-color: #03233D;
}
#steps #step-list > li > h2 {
	margin-right: auto;
	margin-left: auto;
	color: #eee;
}


/*
 * Right section
 */
#right {
	float: right;
	width: calc((100% * (5/6)) - 1px);
	background-color: #222;
	color: #eee;
}
#right > section:nth-child(-n+2) {
	border-bottom: 1px solid #111;
}
#right > section > h1 {
	margin: 0;
	padding: 20px 0 0 20px;
}
#right > section > div.content {
	padding: 20px;
}


/*
 * Options
 */
#options div.content #beat-options, #options div.content #controls {
	float: left;
}
#options div.content #beat-options div.opts {
	display: inline-block;
	margin-right: 40px;
}
#options div.content #beat-options div.opts ul {
	margin: 0;
	padding: 0;
}
#options div.content #beat-options div.opts li {
	float: left;
	display: inline-block;
	list-style-type: none;
}
#options div.content #beat-options div.opts li button {
	margin: 0;
	padding: 7px 14px;
	border: 1px solid #666;
	border-radius: 4px;
	outline: none;
	background-color: #1c1c1c;
	color: #eee;
	font-size: 14px;
	cursor: pointer;
}
#options div.content #beat-options div.opts li button:hover {
	background-color: #444;
}
#options div.content #beat-options div.opts li button.active {
	background-color: #03233D;
}
#options div.content #beat-options div.opts li:first-child button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#options div.content #beat-options div.opts li:not(:first-child):not(:last-child) button {
	border-radius: 0;
}
#options div.content #beat-options div.opts li:last-child button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#options div.content #controls i {
	margin-right: 40px;
	font-size: 90px;
}