/*
 * Globals
 */
body, html {
	font-family: Helvetica;
	background-color: #222;
}
body {
	margin: 0;
}


/*
 * Navbar
 */
#navbar {
	width: 100%;
	height: 40px;
	vertical-align: center;
	background-color: #111;
	color: #eee;
}
#navbar h3 {
	float: right;
	margin-top: 0;
	margin-right: 50px;
	margin-bottom: 0;
	line-height: 39px;
	font-size: 17px;
}


/*
 * Steps
 */
#steps {
	float: left;
	width: 280px;
	border-right: 1px solid #111;
	background-color: #222;
}
#steps > div {
	width: 200px;
	height: 200px;
	margin: 20px auto;
	border: 1px solid #eee;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}
#steps > div.step-active {
	background-color: #03233D;
}
#steps > div > h2 {
	margin-right: auto;
	margin-left: auto;
	line-height: 165px;
	color: #eee;
}


/*
 * Right section
 */
#right {
	float: right;
	width: calc(100% - 281px);
	background-color: #222;
	text-align: center;
	color: #eee;
}
#right > section:nth-child(-n+2) {
	border-bottom: 1px solid #111;
}
#right > section > h1 {
	margin: 0;
}

#options > h1, #rhythms > h1, #metronome > h1 {
	line-height: 230px;
}